.ms-card {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 10px;

        .imgback {
            display: none;
        }
    }

    .images:hover {
        .imgback {
            display: block;
        }

        .imgfront {
            display: none;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.item-info .brand {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.item-info h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.newprice {
    font-size: 1.1rem;
    color: #e74c3c;
    font-weight: bold;
}